{% extends 'index.html' %}

{% block content %}
    <div class="card m-5">
        <div class="card-body">
            <div class="d-flex flex-column">
                <div class="m-3">
                    <a href="#" class="btn btn-outline-dark">Зарегистрироваться как участник</a>
                </div>
                <div class="m-3">
                    <a href="#" class="btn btn-outline-dark">Зарегистрироваться как судья</a>
                </div>
                <div class="m-3">
                    <a href="{% url 'register_organizer' %}" class="btn btn-outline-dark">Зарегистрироваться как организатор</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}